#1. Getting Started
Let us begin the first exercise by familiarizing yourself with the Python programming language.

## 1.1. Hello world!
As a programmer, there is a ritual that we always perform when encountering a new programming language, and that is to make the computer say `Hello, world!`.

The code below instructs the Python interpreter to print `Hello, world!`:

In [ ]:
print("Hello, world!")

Hello, world!

##1.2. Comments
You can leave comments using the hash symbol (''#''). The hash symbol instructs the interpreter to ignore all the remaining characters on that line.

In [ ]:
# This is a Python comment
print("This is not a comment")  # This is a comment

This is not a comment

##1.3. Variables: Scalar Data Types
In Python, all data types are represented as objects. Every object has one data type associated with it. Data types can be divided into two categories: **scalar** and **non-scalar**. Scalar objects refer to the fundamental, indivisible data types in Python. You can think of them as the atoms of data representation. If you've ever considered Java's primitive data types, the analogy holds true here.

Python has four types of scalar data types:
* `int`: Used to represent integers.
* `float`: Used to represent real numbers (floating-point numbers).
* `bool`: Used to represent Boolean values, `True` or `False`.
* `None`: A data type representing null, with only one possible value: `None`.

You can use the built-in Python function `type()` to determine the data type of an object.


#### Basic Operators
For variables of types `int` and `float`, the following operators can be used:
* `i + j`: Calculates the sum of `i` and `j`.
* `i - j`: Calculates the difference between `i` and `j`.
* `i * j`: Calculates the product of `i` and `j`.
* `i / j`: Returns the result of `i` divided by `j` as a float (auto type casting). If `j` is 0, an error occurs.
* `i // j`: Returns the floor division result of `i` by `j` (truncates the decimal part).
* `i % j`: Calculates the remainder when `i` is divided by `j`.
* `i ** j`: Calculates `i` raised to the power of `j`.


For variables of type `bool`, the following operators can be used:
* `i and j`: Returns `True` only if both `i` and `j` are `True`, otherwise returns `False`.
* `i or j`: Returns `False` only if both `i` and `j` are `False`, otherwise returns `True`.
* `not i`: Returns False if `i` is `True`, and `True` if `i` is `False`.

In [ ]:
# Variable declaration
int_a = 4
int_b = 5

float_c = 3.1
float_d = 2.7

bool_eq = (int_a != int_b)

var_none = None

print('int_a =', int_a)
print('int_b =', int_b)
print('int_a + int_b =', int_a+int_b)

print('float_c =', float_c)
print('float_d =', float_d)
print('float_c + float_d =', float_c+float_d)

print('bool_eq =', bool_eq)

print('var_none =', var_none)

print(type(int_a))
print(type(float_c))
print(type(bool_eq))
print(type(var_none))

print('int_a/int_b =', int_a/int_b)
print('int_a//int_b =', int_a//int_b)

print('float_c/float_d =', float_c/float_d)
print('float_c//float_d =', float_c//float_d)

print('int_a/int_b =', int_a/int_b)

bool_x = True

print('bool_x =', bool_x)
print('not bool_x =', not bool_x)
print('bool_x and bool_x =', bool_x and bool_x)
print('bool_x and not bool_x =', bool_x and not bool_x)
print('bool_x or bool_x =', bool_x or bool_x)
print('bool_x or not bool_x =', bool_x or not bool_x)

int_a = 4
int_b = 5
int_a + int_b = 9
float_c = 3.1
float_d = 2.7
float_c + float_d = 5.800000000000001
bool_eq = True
var_none = None
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'NoneType'>
int_a/int_b = 0.8
int_a//int_b = 0
float_c/float_d = 1.1481481481481481
float_c//float_d = 1.0
int_a/int_b = 0.8
bool_x = True
not bool_x = False
bool_x and bool_x = True
bool_x and not bool_x = False
bool_x or bool_x = True
bool_x or not bool_x = True

##1.4. Variables: Common Non-Scalar Data Types
All data types, except the four scalar data types mentioned above, fall into the category of **non-scalar** data types (if you are familiar with structures in C, or classes in Java or C++, the analogy holds true).

###1.4.1. Strings

Python represents **strings** using either single quotes (') or double quotes (").
You can also create *multi-line strings* by repeating the single or double quotes three times.



#### String Operators
Python은 연산자 오버로딩을 이용하여 일반적인 수식 연산자들을 스트링 타입의 변수에도 사용 가능하도록 해두었습니다.
*    str1 + str2: + 연산자를 사용하여 두 개의 스트링을 합칠 수 있습니다 (string concatenation).
*    str1 * n: * 연산자는 스트링을 반복합니다.
*    str1[n]: 스트링 안에서 인덱스를 지정할 수 있습니다.
*    str1[n:m]: 스트링 안에서 인덱스의 범위를 지정할 수도 있습니다. Python에서는 이러한 범위 지정을 가리켜 slicing이라고 합니다.

Python allows you to use common arithmetic operators with string type variables by using operator overloading.
* `str1 + str2`: Concatenates two strings using the `+` operator (string concatenation).
* `str1 * n`: Repeats the string `str1` `n` times using the `*` operator.
* `str1[n]`: Accesses a specific character in the string by index.
* `str1[n:m]`: Specifies a range of indices within the string. In Python, this is referred to as slicing.

In [ ]:

s = "a string"
print(s)

s = 'another string'
print(s)


sss = """
This is a multi-line string
that spans over
a single line
"""
print(sss)


s = "Pohang"
print('s =', s)
print('s + s =', s+s)
print('s * 3 =', s*3)
print('s[2] =', s[2])
print('s[0:2] =', s[0:2])
print('s[2:] =', s[2:])
print('s[:3] =', s[:3])

a string
another string

This is a multi-line string
that spans over
a single line

s = Pohang
s + s = PohangPohang
s * 3 = PohangPohangPohang
s[2] = h
s[0:2] = Po
s[2:] = hang
s[:3] = Poh

###1.4.2. Tuples

A tuple is similar to a string in that it is an ordered sequence of elements. However, the key difference between tuples and strings is that the elements in a tuple can be of any data type, not just characters. Any data type can be an element of a tuple, and the elements do not need to be of the same data type.

Tuples are represented using parentheses `()`. Each element is separated by a comma (,). Similar to strings, operators like `+`, `*`, `[]`, and others can be used with tuples.

In [ ]:
# tuples
t1 = () # an empty tuple
t2 = (1, 'two', 3)

print(t1)
print(t2)
print(t2+t2)
print(t2[1])
print((t2+t2)[3])
print((t2+t2)[3:])
print((t2+t2)[:2])
print((t2+t2)[1:4])

()
(1, 'two', 3)
(1, 'two', 3, 1, 'two', 3)
two
1
(1, 'two', 3)
(1, 'two')
('two', 3, 1)

###1.4.3. Lists
Similar to tuples, lists represent an ordered sequence of values, and you can differentiate each value using an index. Lists are represented using square brackets `[]`.

####The Mutability of Lists
Lists have a significant difference compared to the previous two data types. Lists are **mutable**, meaning they can be changed after being declared. On the other hand, tuples and strings are immutable, which means they cannot be modified once defined.

In [ ]:
# lists
l1 = [] # an empty list
l2 = ['I did', 'it', 'all', 4, 'love']

print(l2)
print(l2 + l2)
print(l2[2])
print(l2[1:2])
print(l2[2:4])
print(l2[3:])
print(l2[:3])

['I did', 'it', 'all', 4, 'love']
['I did', 'it', 'all', 4, 'love', 'I did', 'it', 'all', 4, 'love']
all
['it']
['all', 4]
[4, 'love']
['I did', 'it', 'all']

###1.4.4. Dictionaries

Python provides a built-in hashtable-style data type, which is known as a dictionary. When using variables of the dictionary type, unlike in tuples or lists, you can use non-integer indices. Dictionary elements are represented as key-value pairs. In other words, each element has a value associated with it, and it can be indexed using its key.

Dictionaries are expressed using curly braces {}. Keys and values are separated by a colon (:).

In [ ]:
Months = {'Jan':1, 'Feb':2, 'Mar':3, 'Apr':4, 'May': 5, 1:'January', 2:'February', 3:'March', 4:'April', 5:'May'}

print("The third month is " + Months[3])
print("April is the %d-th month" % Months['Apr'])

The third month is March
April is the 4-th month

You can also examine each element stored in a dictionary by accessing them through the keys. Using the `keys()` function provided by dictionaries, you can retrieve all the keys stored in the dictionary.

In [ ]:
for key in Months.keys():
  print(Months[key])

1
2
3
4
5
January
February
March
April
May

##1.5. Python Controls
Python에서는 분기(branch)와 반복(iteration)을 제공하여 flow를 정의할 수 있게 합니다. 분기를 정의하기 위해 if, elif, else 등의 키워드를 사용하며, 반복을 정의하기 위해 while과 for 등의 키워드를 사용합니다. Python에서 switch 구문은 제공하지 않습니다.

Python에서 **들여쓰기**(indentation)는 코드의 scope을 정의합니다. C나 Java 등의 언어에서 중괄호 { }와 그 역할이 같습니다.



Python provides **branching** and **iteration** constructs to define the *flow* of a program. To define branching, keywords like `if`, `elif`, and `else` are used, whereas for iteration, keywords such as `while` and `for` are used. Note that Python does not have a `switch` statement.

In Python, **indentation** is used to define the scope of the code. It plays a similar role to the curly braces `{ }` in languages like C or Java.

###1.5.1. `if/elif/else`

In [ ]:
# if / else if / else
a = 0

if a == 1:
  print("a == 1")
elif a == 0:
  print("a == 0")
else:
  print("a == something else")

a == 0

In [ ]:
# Nested if / else if / else
a = 9

if a > 0:
  if a % 3 == 0:
    if a % 9 == 0:
      print('a is positive and divisible by both 3 and 9')
    else:
      print('a is positive and divisible by 3')
  else:
    print('a is a positive number')
elif a == 0:
  print('a is zero')
else:
  print('a is a negative number')

a is positive and divisible by both 3 and 9

###1.5.2. `for`

The `for` loop in Python is often used with the `range()` function to control its iteration. The `range()` function generates a sequence based on the number of arguments provided:
* `range(stop)`: When the function has one argument, it generates a sequence starting from 0 up to (but not including) the `stop` value, increasing by 1 for each step.
* `range(start, stop)`: When the function has two arguments, it generates a sequence starting from the `start` value up to (but not including) the `stop` value, increasing by 1 for each step.
* `range(start, stop, step)`: When the function has three arguments, it generates a sequence starting from the `start` value up to (but not including) the `stop` value, increasing by the specified `step` for each iteration.

That is, in a `for` loop, you can use the `range()` function to define the range of values over which the loop iterates. The loop will execute its code block for each value in the specified range.

In [ ]:
# for
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
# for
for i in range(2, 7):
  print(i)

2
3
4
5
6

In [ ]:
# for
for i in range(-5, 5, 2):
  print(i)

-5
-3
-1
1
3

You can also define a `for` loop using lists or tuples.

In [ ]:
l1 = ['A','B','C']
for item in l1:
  print(item)

t1 = ('hana', 'one', 1)
for item in t1:
  print(item)

A
B
C
hana
one
1

###1.5.3. `while`

The while loop in Python is used to execute a block of code repeatedly as long as a specified condition remains `True`. It is important to ensure that the condition eventually becomes `False`, otherwise, the loop will continue indefinitely, resulting in an infinite loop.

In [ ]:
# while
x = 10
sum_to_ten = 0
while x > 0:
  sum_to_ten += x
  x -= 1

print(sum_to_ten)

55

##1.6. Functions

In Python, functions are defined using the keyword `def`. Similar to the control components above, the scope is indicated by using **indentation**.

In [ ]:
def say_ho():
  print('ho-')

print('Are you with me?')
say_ho()

Are you with me?
ho-

def statement의 괄호를 사용하여 함수의 arguments를 정의할 수 있습니다.
또한 return 키워드를 사용하여 원하는 지점에서 return을 정의할 수도 있습니다. return 값을 위한 함수의 타입을 정의할 필요는 없습니다.

In [ ]:
def maxVal(x, y):
  if x > y:
    return x

  return y

print('maxVal(3,8)?', maxVal(3,8))

maxVal(3,8)? 8

In Python, you can also return multiple variables simultaneously. In the following example, we use the `%s` string placeholder to substitute the variables.

In [ ]:
def getName():
  firstname = 'Mike'
  lastname = 'Stockton'

  return firstname, lastname

name_first, name_last = getName()
print('Hello, Mr. %s. I got your firstname %s as well.' % (name_last, name_first))

Hello, Mr. Stockton. I got your firstname Mike as well.

#### Recursion
Using the fundamental elements of defining functions, we can also define *recursive* functions in Python. The following example demonstrates the sum of integers from 1 to `n`.

In [ ]:
def sum_to_ten(n):
  if n < 1:
    return 0
  return sum_to_ten(n-1) + n

print('sum_to_ten(10) =', sum_to_ten(10))
print('sum_to_ten(9) =', sum_to_ten(9))
print('sum_to_ten(5) =', sum_to_ten(5))

sum_to_ten(10) = 55
sum_to_ten(5) = 15

<hr/>

##Assignment

1. Write a function `right_triangle(n)` that takes an integer `n` and prints out a right triangle of height `n` as in the following examples.

> `right_triangle(3)` <br/>
> `#` <br/>
> `# #` <br/>
> `# # #` <br/>

> `right_triangle(5)` <br/>
> `#` <br/>
> `# #` <br/>
> `# # #` <br/>
> `# # # #` <br/>
> `# # # # #` <br/>


2. Write a recursive function `palindrome(str)` that takes a string `str` and returns the following:
- a Boolean value (`True`/`False`) indicating whether `str` is a palindrome
- a string that reverses `str`

> `a, b = palindrome('apple')` returns `a = False` and `b = 'elppa'`

> `c, d = palindrome('radar')` returns `c = True` and `d = 'radar'`